.events-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 8%;
    margin-top: 4%;
    height: auto;
}

.text-container {
    max-width: 50%;
    text-align: center;
}

.text-container span {
    font-size: 1.2rem;
    color: #ef5f34;
    font-family: "Roboto Slab", serif;
}

.text-container h2 {
    font-size: 2.67rem;
    margin: 0;
    text-transform: capitalize;
    font-family: "Roboto Slab", serif;
    margin: 15px 0 20px;
    font-weight: 500;
    color: #212158;
}

.text-container p {
    font-size: 18px;
    margin: auto;
    line-height: 1.5;
    color: #4f555a;
    text-align: center;
}

.cards-container {
    padding: 4% 6%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 3%;
    height: auto;
}

.card {
    position: relative;
    flex-direction: column;
    background-color: white;
    max-width: 100%;
    padding: 2%;
    box-shadow: 0px 1px 15px 0px rgba(62, 65, 159, 0.15);
    border-radius: 15px;
}

.card img {
    position: relative;
    display: block;
    margin: 2% auto; 
    width: calc(100% - 4%);
    max-width: none; 
    height: auto;
    border: none;
    border-radius: 15px;
    box-shadow: none;
}

.green-element {
    position: absolute;
    left: 40px;
    top: 40px;
    background: #276b63;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    line-height: 30px;
    border-radius: 15px;
}

.green-element p {
    margin: 0;
    padding: 0;
}

.month {
    display: block;
    font-size: 16px;
    font-family: "Muli";
    font-weight: 400;
}

.card-text {
    margin: 4%;
}

.card-text h2 {
    font-size: 22px;
    line-height: 35px;
    font-weight: 500;
}

.card-text a {
    font-family: "Roboto Slab", serif;
    box-shadow: none;
    text-decoration: none;
    color: #212158;
}

.card-text a:hover {
    color: #ef5f34;
}

.card-text p {
    font-size: 16px;
    color: #4f555a;
    line-height: 1.8em;
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr;
        gap: 1%;
    }

}