.partner-team-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 10%;
}


.partner-slider-container {
    position: relative;
    width: 100%;
    padding-top: 8%;
}


.partner-image-container {
    margin: auto;
    justify-content: center;
    align-items: center;
}

.partner-image-container img {
    display: block;
    height: auto;
    width: 40%;
    margin: auto;
}

@media only screen and (max-width: 1200px) {
    .partner-text-container {
        max-width: 70%;
    }

    .partner-text-container h2 {
        font-size: 2.3rem;
    }
}

