header {
    padding: 20px 30px;
    background-color: transparent;
    z-index: 99;
    position: relative;
}

.site-header {
    position: sticky;
    top: 0;
}

.mobile-menu{
    display: none;
    line-height: 20px;
}

.mobile-menu-button {
    display: none;
    background-color: #ef5f34;
    border: none;
    border-radius: 0.25rem;
    transition: transform 0.9s ease-in;
    line-height: 0;
    padding: 7px 8px;
}

.logo {
    max-width: 190px;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
}

.navbar a {
    font-family: "Muli";
    padding: 35px 10px;
    font-size: 16px;
    color: #232f4b;
    border-bottom: 2px solid transparent;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover {
    color: #ef5f34;
    border-bottom: 4px solid #ef5f34;
}

.navbar-home, .navbar-causes, .navbar-shop, .navbar-pages, .navbar-blog {
    position: relative;
}

.navbar-home:hover .sub-menu-home .sub-menu {
    opacity: 1;
    pointer-events: auto; 
} 

.navbar-causes:hover .sub-menu-causes .sub-menu {
    opacity: 1;
    pointer-events: auto; 
} 

.navbar-shop:hover .sub-menu-shop .sub-menu {
    opacity: 1;
    pointer-events: auto; 
} 

.navbar-pages:hover .sub-menu-pages .sub-menu {
    opacity: 1;
    pointer-events: auto; 
} 

.navbar-blog:hover .sub-menu-blog .sub-menu {
    opacity: 1;
    pointer-events: auto; 
} 

.sub-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 2px 20px 0px rgba(62, 65, 159, 0.09);
    width: 250px;
    padding: 10px 0;
    left: 0;
    top: 61px;
    z-index: 10;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s; 
}

.sub-menu a {
    font-size: 1.2rem;
    display: block;
    border-bottom: 2px solid transparent;
    padding: 10px 20px;
    color: #212158;
    overflow: hidden;
    font-weight: 500;
    text-decoration: none;
}

.sub-menu a:hover {
    font-family: "Muli";
    position: relative;
    color: #212158;
    border-bottom: 2px solid transparent;
}

.sub-menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px; 
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s ease;
}

.sub-menu a:hover::after {
    width: 50px;
    background-color: #ef5f34;
    transition: width 0.3s ease; 
}

.sub-menu-blog-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 2px 20px 0px rgba(62, 65, 159, 0.09);
    width: 250px;
    padding: 10px 0;
    left: 0;
    top: 61px;
    z-index: 10;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s; 
}

.blog-details {
    position: relative;
}

.blog-details svg {
    padding-left: 75px;
} 

.blog-details:hover .sub-menu-blog-details {
    opacity: 1;
    pointer-events: auto;
}

.sub-menu .sub-menu-blog-details {
    left: 250px;
    top: 0;
}

.header-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-button-donate {
    background: linear-gradient(to left, rgba(239, 95, 52, 0.75), #e34212);
    color: #fff;
    font-weight: 500;
    border: 0;
    text-align: left;
    border-radius: 6px;
    padding: 10px 25px;
    text-transform: capitalize;
    font-size: 1.3rem;
    z-index: 1;
    position: relative;
}

.header-button-donate:hover {
    background: linear-gradient(to right, rgba(239, 95, 52, 0.75), #e34212);
}

.header-button-search {
    background-color: #c9f0eb;
    line-height: 0.66em;
    color: #232f4b;
    width: 50px;
    height: 44px;
    border: 0;
    border-radius: 5px;
}

.search-bar-container {
    opacity: 1;
}

@media only screen and (max-width: 1200px) {
    .header-button-donate {
        display: none;
    }

    .navbar {
        scale: 80%;
    }
}
  
@media only screen and (max-width: 992px) {
    .navbar {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
    
    .mobile-menu-button {
        display: block;
    }

    header {
        background-color: white;
    }
}
