.search-bar {
  position: absolute; 
  right: 0; 
  margin: 20px 30px;
  width: 350px; 
  height: 100px; 
  background-color: white; 
  z-index: 100; 
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.5s;
  box-shadow: -2px 18px 40px -9px #999999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
}

.search-bar.open {
  opacity: 1;
  transform: scale(1); 
}
  
.search-items{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
}
