.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #41b2a5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  opacity: 1;
}

.preloader.hidden {
  opacity: 0;
  visibility: hidden; 
}

.preloader-content {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.loading-line-outer, .loading-line-inner {
  position: absolute;
  border-radius: 50%;
  animation: rotate 1.3s linear infinite;
}

.loading-line-outer {
  border: 1px solid rgba(255, 255, 255, 0.5); 
  width: 108px;
  height: 108px;
}

.loading-line-inner {
  border: 1px solid white; 
  width: 108px; 
  height: 108px;
  clip-path: polygon(50% 50%, 50% 50%, 100% 100%, 100% 0%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
