@import "~@flaticon/flaticon-uicons/css/all/all";

body {
  margin: 0;
  font-family: "muli";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  position: relative;
  overflow: hidden;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .navbar {
        display: none;
    }
}
