@import "~@flaticon/flaticon-uicons/css/all/all";

body {
  margin: 0;
  font-family: "Muli";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  position: relative;
  overflow: hidden;
}

.decorative-element {
  position: absolute;
  right: -10%;
  top: -40%;
  width: 986px;
  height: 986px;
  content: "";
  background: #ebfcfa;
  border-radius: 50%;
  z-index: -1;
}

@media screen and (max-width:1024px) {
  .decorative-element {
    display: none;
  }
}